p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-div{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 60px;
}

.profile-picture{
  width: 230px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 8px;
}

.name{
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 6px;

}

.mutual-friends-picture{
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.mutual-friends{
  font-size: 16px;
  margin-left: 7px;
}

.information{
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 10px;
}

.profile-picture-div{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.80);
  width: 230px;
}

.add-friend-button{
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}