body{
  height: 2000px;
}

div{
  font-family: Arial;
}

.first-sidebar{
  background-color: rgb(53, 53, 53);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 74px;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;

}

.white-cat{
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.server{
  margin-bottom: 5px;
}

.second-sidebar{
  background-color: rgb(78, 78, 78);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 74px;
  width: 200px;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 15px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.info{
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.infoplus{
  color: rgb(199, 199, 199);
  font-size: 27px;
}

.information{
  color: rgb(199, 199, 199);
  font-size: 17px;
  line-height: 35px;
}