p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.div-9d{
  background-color: rgb(49, 49, 49);
  width: 350px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.install{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add{
  color: rgb(141, 141, 141);
  font-size: 15px;
}